.confirm{
    text-align: center;
}
.warn,.print{
    color:#FF5656;
}
.tip_add{
    width:470px;
    position:absolute;
    z-index:2;
    left: 44%;
    top: 26%;
    text-decoration: none;
    color: #333;
    background:transparent url(../images/dialog_shadow.png);
    padding:5px;
    border: #eee 1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 4px rgba(000, 000, 000, 0.1) inset;
    -webkit-box-shadow: 0 0 4px rgba(000, 000, 000, 0.1) inset;
    box-shadow: 0 0 3px rgba(000, 000, 000, 0.1) inset;
}
.tip_add h3{
    font-size:14px;
    padding:3px;
    width:310px;
    float:left;
}
.tip_top{
    height:15px;
    padding: 10px;
    background: #E2EDFB;
    border-bottom: 1px solid #E2EDFB;
    border-radius: 4px;
    }
.tip_wrap{
    background:#ffffff;
    border: 1px solid #D8D8D8;
    width:468px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 4px rgba(000, 000, 000, 0.1) inset;
    -webkit-box-shadow: 0 0 4px rgba(000, 000, 000, 0.1) inset;
    box-shadow: 0 0 3px rgba(000, 000, 000, 0.1) inset;
}
.tip_content{
    padding:20px 0;

}
.tip_text{
    font-size:16px;
    padding:0px 0px 10px 0px;
}
.tip_sub{
    text-align: center;
}
#cancel,#determine,.tip_sub input{
    -moz-box-shadow: inset 0px 1px 0px 0px #f3f7f9;
    -webkit-box-shadow: inset 0px 1px 0px 0px #F3F7F9;
    box-shadow: inset 0px 1px 0px 0px #F3F7F9;
    background: -webkit-gradient( linear,left top,left bottom,color-stop(0.05,#F3F7F9),color-stop(1,#E8ECF0) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f7f9',endColorstr='#e8ecf0');
    background-color: #F3F7F9;
    border: 1px solid #E1E6EA;
    display: inline-block;
    color: #515F6D;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 25px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ECF0F4;
    font-family: trebuchet ms,arial,verdana;
    margin-right:10px;
}