*{margin:0;padding:0}
body{
    background:url(../images/main-bg.png);
}
/****/
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/****/
#container{
    width:980px;
    margin:0 auto;
    background:white;
    overflow: hidden;
}
#main{
    margin-top:10px;
}
#top-menu{
    width:100%;
    background:#F3F3F3;
    padding:3px 0;
}
#top-menu a{
    color:#4882B1;
}
#logo{
    height:74px;
    padding:30px 0 0 30px;
}
#menu{
    background: url(../images/main-menu-bg.png) repeat-x;
    overflow:hidden;
}
#menu li{
    float:left;
}
#menu li a{
    color:white;
    padding:12px 18px 12px 18px;
    border-right: 1px solid #303336;
    border-left: 1px solid #515659;
    display:block;
    height:14px;
    line-height:14px;
}
#content{
    float:left;
    width:700px;
    border-right: 1px solid #EAECEF;
    padding-right:14px;
    padding-left:10px;
}
.list{
    padding:20px 0;
    overflow:hidden;
}
.article{
    padding:10px;
}
#content h2{
    color:#E25D33;
    border-bottom: 1px dashed #E7E7E7;
}
#sidebar{
    float:right;
    width:250px;
}
