.tab{
    width:100%;
    border-collapse:collapse;
    text-align: center;
}
.tab td,.tab th {
    border:1px solid #ccc;
    height:42px;
    font-size:14px;
}
.tab th{
    background-color:#F8F8F8;
}
.last_td{
    font-weight:bold;
    background-color:#F8F8F8;
}
.default_arrow {
    background:url(../images/sort_arrows.gif) no-repeat -1px -1px;
    width:8px;
    height:14px;
    display:inline-block;
    margin-left:4px
}
.up_arrow {
    background:url(../images/sort_arrows.gif) no-repeat -1px -45px;
    width:8px;
    height:14px;
    display:inline-block;
    margin-left:4px
}
.down_arrow {
    background:url(../images/sort_arrows.gif) no-repeat -1px -23px;
    width:8px;
    height:14px;
    display:inline-block;
    margin-left:4px
}