
/* simple css-based tooltip */
.tooltip {
    border:1px solid #fff;
    background-color:#3d7483;
    padding:10px 15px;
    width:70px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
