{% extends 'frontend/layout.html' %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename="css/confirm.css") }}">
{% endblock %}
{% block main %}
<div id="main">
    <input type="submit" value="显示"  id="submit">
            <div class="tip_add confirm" id="confirm" style="display:none;">
                <div class="tip_wrap">
                    <div class="tip_top">
                    
                </div>
                <div class="tip_content">
                    <p class="tip_text">网站开通成功，是否现在添加关键词？</p>
                    <div class="tip_sub">
                        <input type="button" id="determine"  value="确定" name=""><input type="button" id="cancel"  value="取消" >
                    </div>
                </div>
            </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#submit').click(function(e){
            
            var y = e.clientY
            var x = e.clientX
            $('#confirm').show().css({'left':x,'top':y});
       
        });
        $('#cancel').click(function(){
            $('#confirm').hide();
        });
    })

</script>
{% endblock %}
