{% extends 'frontend/layout.html' %}
{% block css %}<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename="css/materival.css") }}">{% endblock %}
{% block main %}

        <div  id="main">
            <div id="content">
                <h2>表格</h2>
                <div id="table">
                    <table>
                        <tr>
                            <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static',filename="images/icon/add.gif") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/add2.gif") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/adj.gif") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/notes-add.gif") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/ajax_loader.gif") }}" /></td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static',filename="images/icon/help3.gif") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/tick_disable.gif") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/adj.gif") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/ajax_loader.gif") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/progress.gif") }}" /></td>
                        </tr>
                        <tr>
                            <td><img src="{{ url_for('static',filename="images/icon/plus.png") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/play.png") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/pause.png") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/ajax_loader.gif") }}" /></td>
                            <td><img src="{{ url_for('static',filename="images/icon/refresh.png") }}" /></td>
                        </tr>
                    </table>
                    
                </div>
                
            </div>
        </div>
        <div id="sidebar">
            <div>sdfsdfsdfds</div>
        </div>
        <div id="footer"></div>
            
{% endblock %}
