{% extends 'frontend/layout.html' %}
{% block main %}
           <!--表单验证-->

        
        
        <div id="drawer">
          请填写<samp style="color:red"> 红色 </samp>边框的必填项。
        </div>
        <form action="#">
        
          <div id="wizard">
        
            <ul id="status">
              <li class="active"><strong>1.</strong> 创建帐户</li>
              <li><strong>2.</strong> 联系信息</li>
              <li><strong>3.</strong> 最后确认</li>
            </ul>
        
            <div class="items">
        
              <!-- page1 -->
              <div class="page">
        
            <h2>
              <strong>Step 1: </strong> 欢迎注册
              <em>请输入您的登录信息:</em>
            </h2>
        
            <ul>
              <!-- email -->
              <li class="required">
                <label>
                  <strong>1.</strong> 输入你的电子邮件地址<span>*</span><br>
                  <input type="text" class="text" name="email">
                  <em>您的密码将被发送到该地址。您的地址将不会被公开</em>
                </label>
              </li>
        
              <!-- username -->
              <li>
                <label>
                  <strong>2.</strong> 选择一个用户名 <br>
                  <input type="text" class="text" name="username">
                  <em>使用你的用户名登录。</em>
                </label>
              </li>
        
              <!-- password -->
              <li class="required double">
        
                <label>
                  <strong>3.</strong> 选择一个密码 <span>*</span><br>
                  <input type="password" class="text" name="password">
                  <em>请输入一个不少于8个字符的密码</em>
                </label>
                <label>
                  确认密码 <span>*</span><br>
                  <input type="password" class="text" name="password1">
                </label>
              </li>
        
              <li class="clearfix">
                <button type="button" class="next right">继续 »</button>
              </li>
            </ul>
        
              </div>
        
              <!-- page2 -->
              <div class="page">
        
            <h2>
              <strong>Step 2: </strong> Contact Information <b></b>
              <em>Please tell us where you live:</em>
            </h2>
        
            <ul>
              <!-- address -->
              <li class="required">
                <label>
                  <strong>1.</strong>
                      输入您的街道地址 <span>*</span><br>
                  <input type="text" class="text" name="email">
                  <em><strong>例如</strong>：随机街69 A 666</em>
                </label>
              </li>
        
              <!-- zip / city -->
              <li class="required double">
        
                <label>
                  <strong>2.</strong> 输入您的邮编 <span>*</span><br>
                  <input class="text" name="zip">
                  <em>这必须是一个数值</em>
                </label>
        
                <label>
                  <strong>3.</strong> 城市 <span>*</span>
                  <select name="city">
                <option value="">-- 请选择 --</option>
                <option>Helsinki</option>
                <option>Berlin</option>
                <option>New York</option>
                  </select>
                </label>
              </li>
        
              <li class="clearfix">
                <button type="button" class="prev disabled" style="float:left">
                      « 返回
                    </button>
                <button type="button" class="next right">
                      继续 »
                    </button>
              </li>
        
              <br clear="all">
            </ul>
        
              </div>
        
              <!-- page3 -->
              <div class="page">
        
            <h2>
              <strong>Step 3: </strong> 恭喜! <b></b>
              <em>你现在是本站的成员了</em>
            </h2>
        
        
            <img src="{{ url_for('static',filename='images/eye.png') }}" style="margin:30px 0 0 140px">
        
            <p style="margin-top:30px">
              <button type="button" class="prev disabled">« 返回  </button>
            </p>
        
              </div>
        
            </div><!--items-->
        
          </div><!--wizard-->

</form>
<script>
  $(function() {
      var root = $("#wizard").scrollable();
  
      // some variables that we need
    var api = root.scrollable(), drawer = $("#drawer");

    // validation logic is done inside the onBeforeSeek callback
    api.onBeforeSeek(function(event, i) {

    // we are going 1 step backwards so no need for validation
    if (api.getIndex() < i) {

                 // 1. get current page
                 var page = root.find(".page").eq(api.getIndex()),

             // 2. .. and all required fields inside the page
             inputs = page.find(".required :input").removeClass("error"),

             // 3. .. which are empty
             empty = inputs.filter(function() {
             return $(this).val().replace(/\s*/g, '') == '';
             });

                 // if there are empty fields, then
                 if (empty.length) {

             // slide down the drawer
             drawer.slideDown(function()  {

             // colored flash effect
             drawer.css("backgroundColor", "#229");
             setTimeout(function() { drawer.css("backgroundColor", "#fff"); }, 1000);
             });

             // add a CSS class name "error" for empty & required fields
             empty.addClass("error");

             // cancel seeking of the scrollable by returning false
             return false;

                 // everything is good
                 } else {

             // hide the drawer
             drawer.slideUp();
                 }

                     }

                     // update status bar
                     $("#status li").removeClass("active").eq(i).addClass("active");

                         });
                         
                             // if tab is pressed on the next button seek to next page
    root.find("button.next").keydown(function(e) {
    if (e.keyCode == 9) {

    // seeks to next tab by executing our validation routine
    api.next();
    e.preventDefault();
    }
    });
                           });
</script>

{% endblock %}
