{% extends 'frontend/layout.html' %}
{% block css %}<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename="css/table.css") }}">{% endblock %}
{% block main %}

        <div  id="main">
            <div id="content">
                <h2>表格排序</h2>
                    <table class="tab" id="table">
                        <thead>
                            <tr>
                                <th>序列</th>
                                <th>网站名称</th>
                                <th>百度快照</th>
                                <th>百度权重</th>
                                <th>PR</th>
                                <th>PR输出值</th>
                                <th>百度收录</th>
                                <th>alexa</th>
                            </tr>
                        </thead>
                        {% with %}
                        {% set foo =[3,234,34,342] %}
                        {% for i in foo|sort  %}{{i}} {% endfor %}
                        {% endwith %}
                        <tbody>
                            {% for i in arr %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.shulu }}</td>
                                <td>{{ i.br }}</td>
                                <td>{{ i.pr }}</td>
                                <td>{{ i.prshu }}</td>
                                <td>{{ i.kuaizhao }}</td>
                                <td>{{ i.alexa }}</td>
                            </tr>
                            {% endfor %}

                            
                        </tbody>

                    </table>
                    
                <script type="text/javascript">
                             $(function(){
                                 var table = document.getElementById('table');
                                     var row = table.rows;
                                    // console.log($('#table').rows())
                                        var row_len = row.length;
                                        var cel = table.rows[0].cells;
                                        var cel_len = cel.length;
                                        var arrs = new Array();
                                        var reve = 1;
                                        var arr = new Array();
                                        var s=''
                                 $('#table th').append('<span class="default_arrow"></span>').click(function(e){
                                      s = e.toElement.cellIndex
                                     for(r = 0;r < row_len;r++){
                                    arrs[r]=new Array;
                                    for(c=0;c<cel_len;c++){
                                        arrs[r][c] ={};//二维数组里再创建一个对象;
                                        arrs[r][c].html = table.rows[r].cells[c].innerHTML;//取表格HTML放进一个关联数组里面，用于排序后显示在页面上;
                                        arrs[r][c].tr_id = table.rows[r].id;//取ID用于显示数据的地tr表格区分是那个域名的
                                        if(navigator.appName.indexOf("Explorer") > -1){   //是否是IE浏览器                        
                                            var td_txt = table.rows[r].cells[c].innerText;//取得表格的文字内容用于下面的判断;
                                        }else{
                                            var td_txt = table.rows[r].cells[c].textContent;
                                        }
                                        //检测可能出现的内容如果不是正常的数据就变成负数，排在最后面;
                                        if(td_txt == '-'){
                                            arrs[r][c].txt='-1';
                                        }else if(td_txt=='无百度快照'||td_txt=='无排名数据'){                            
                                            arrs[r][c].txt='-2';
                                        }else if(td_txt=='重新检测'){
                                            arrs[r][c].txt='-3';
                                        }else if(td_txt == ''){//正在请求的
                                            arrs[r][c].txt='-4';
                                        }else if(c == 6){//第7个表格是百度快照要转换成时间戳才能排序
                                            arrs[r][c].txt =Date.parse(td_txt.replace(/-/g,'/'));//转换时间戳
                                        }else{
                                            arrs[r][c].txt=td_txt;//取表格文字内容放进一个关联数组里面。用于下面的sort做排序。
                                        }
                                    }
                                    
                                };
                          
                               //reve判断当前是正常排序还是反序;
                                   if(reve){
                                        arrs.sort(function(x,y){
                                            return parseInt(y[s]['txt']) - parseInt(x[s]['txt']);                    
                                        });
                                        reve=0;
                                        
                                    }else{
                                        arrs.sort(function(x,y){
                                            return parseInt(x[s]['txt']) - parseInt(y[s]['txt']);//排序
                                        });
                                        reve=1;
                                    };
                                          
                                    //将排好的html内容放入表格里
                                    for(r = 0;r < row_len;r++){
                                        for(c=0;c<cel_len;c++){
                                             table.rows[r].cells[c].innerHTML =arrs[r][c]['html'];
                                             table.rows[r].id=arrs[r][c]['tr_id'];
                                        }
                                        
                                    };
                                   var thead = table.getElementsByTagName('thead')[0];
                                    var thead_tr =thead.rows[0];
                                    for(i=0;i<thead_tr.cells.length;i++){
                                        if(i!=s){
                                            //if(thead_tr.cells[i].className=='pointer'){
                                                thead_tr.cells[i].getElementsByTagName('span')[0].className='default_arrow';
                                            //}
                                        }else{
                                            if(reve){                        
                                                thead_tr.cells[i].getElementsByTagName('span')[0].className='down_arrow';
                                            }else{
                                                thead_tr.cells[i].getElementsByTagName('span')[0].className='up_arrow';
                                            }
                                        }
                                        
                                    }
                                 });
                                 
                                 
                             })
 

        //表格排序结束
                </script>
            </div>
        </div>
        <div id="sidebar">
            <div>sdfsdfsdfds</div>
        </div>
        <div id="footer"></div>
            
{% endblock %}
